.block-title {
  margin-bottom: 0.8rem;
}
.block-title::before,
.block-title::after {
  position: absolute;
  content: '';
  bottom: 0;
  height: 2px;
}
.block-title::before {
  left: 0;
  width: 10px;
  background-color: var(--secondary);
}
.block-title::after {
  left: 16px;
  width: 30px;
  background-color: var(--primary);
}