{{ attach_library('xara/slider') }}
<section class="slider">
  <div class="container">
  <div class="slider-container">
    <div class="slider-text">
      <ul class="js-rotating">
        {% if slider_code != '' %}
          {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<button>,<mark>,<hr>,<div>') | raw }}
        {% else %}
        <li>
  				<h1>Simple, <em>Modern</em> and Expertly Crafted</h1>
  				<p>XARA is packed full of all the amazing features and options for you to create an amazing edication website.</p>
  				<a class="button" href="#">Get Started</a>
  			</li>
  			<li>
  				<h1>Light Weight and <em>Fast</em> to boost Performance</h1>
  				<p>We are committed to your digital performance. With awesome features its amazing fast.</p>
  				<a class="button" href="#">Get Started</a>
  			</li>
  			<li>
  				<h1>Satisfied customer is the best business strategy</h1>
  				<p>We have high academic programs and fully qualified faculties with over 12 years of teaching experience.</p>
  				<a class="button" href="#">Get Started</a>
  			</li>
        {% endif %}
      </ul> <!--/.home-slider -->
    </div><!-- /slider-text -->
    <div class="slider-image">
      {% if slider_image_path != '' %}
        <img src="{{ slider_image_path }}" alt="slider image" />
      {% else %}
        <img src="{{ directory }}/images/demo/slider.svg" alt="slider image" />
      {% endif %}
    </div><!-- /slider-image -->
  </div> <!--/.slider-container -->
  </div> <!--/.container -->
</section>
